<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <% include ../partials/header %>
    <div class="poll-container">
        <h2>What is your favorite programming language?</h2>
        <form id="pollForm">
            <label>
                <input type="radio" name="language" value="S1"> Shadowveil Studio
            </label><br>
            <label>
                <input type="radio" name="language" value="S2"> Whispering Wood Studio
            </label><br>
            <label>
                <input type="radio" name="language" value="S3"> Enigma Entertailments
            </label><br>
            <label>
                <input type="radio" name="language" value="S4"> Shadow Interactives
            </label><br>
            <button type="submit">Vote</button>
        </form>
        <div id="result"></div>
        <div id="results"></div>
    </div>
    
    <script src="/script.js"></script>
    <div class="ps">I really like Shadowveil Studios</div>
</body>
</html>
